.graphContainer {
    height: 90%;
    width: 100%;
    position: absolute;
}

.legend {
    height: 10%;
    position: absolute;
    top: 90%;
}

.toolTipShown {
    width: 120px;
    background-color: lightgrey;
    border-radius: 3px;
    position: absolute;
}

.tooltipHidden {
    composes: toolTipShown;
    visibility: hidden;
}
