.app {
  text-align: center;
}

.navigation {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  background-color: dodgerblue;
  opacity: 0.7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.selectedButton {
  composes: button;
  opacity: 1;
}
